* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* header */

/* logo */

header img {
  display: flex;
  width: 200px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 600px;
}


/* galeria */

.galeria {
  font-family: 'open sans';
}

.galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
  color: white;
}

/* linea */

.linea {
  border-top: 10px solid rgba(207, 204, 2, 0.666);
  margin-bottom: 20px;
}

/* images */

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.iamgen h2 {
  background: none;
  color: #000000;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}


/* overlays */

.overlay {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .8s ease;
}


.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}

/* medias */

@media screen and (max-width:1000px) {
  .contenedor-imagenes {
    width: 95%;
  }
}

@media screen and (max-width:700px) {
  .contenedor-imagenes {
    width: 90%;
  }

  .contenedor-imagenes .imagen {
    width: 48%;
  }
}

@media screen and (max-width:450px) {
  h1 {
    font-size: 22px;
  }

  .contenedor-imagenes {
    width: 98%;
  }

  .contenedor-imagenes .imagen {
    width: 80%;
  }
}



/* button wpp */

.wpp a i {
  background: none;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 18rem;
  margin-bottom: 10px;
  margin-left: 20px;

}


.go-top-container {
  background: none;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: rgba(207, 204, 2, 0.666);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  background: none;
  transform: translate(-50%, -50%) scale(0);
  color: #000000;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 4rem;
  height: 4rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 8rem;
    height: 8rem;
  }

  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}

/* footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  padding: 20px 0;
  margin-left: 320px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-left: 20px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(207, 204, 2, 0.666);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li p {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgba(207, 204, 2, 0.666);
  padding-left: 8px;
}

.footer-col ul li p:hover {
  color: rgba(207, 204, 2, 0.666);
  padding-left: 8px;
}

.social-links i {
  background: none;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}


/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  body {
    padding-top: 70px;
    margin-left: 0;
  }

  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}